<div class="component-container">

  <div class="content">
    <img src="./assets/images/Yosemite.jpg" class="grid-item"/>
    <div class="grid-item about" >
      <p>
        Hi there!
        <br /><br />
        My name is Dennis and I am a <strong>software developer</strong> currently living in the SF Bay Area.
        <br /><br />
        Lorem ipsum dolor sit amet, eu feugait officiis pri, usu ferri lobortis ne, nec albucius repudiandae complectitur ut. Ei sit vocent mandamus. Et magna graeco per. Ius at antiopam philosophia, mucius sententiae ne per. In ceteros dolores elaboraret eum, ea vero invidunt mea, his augue quando ea.
      </p>

      <br />
      <a class="nav-link" href="https://www.linkedin.com/in/codennisj/">
        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i> LinkedIn
      </a>
      <a class="nav-link" href="https://github.com/dennisaur">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i> Github
      </a>
    </div>

    <div class="grid-item contact">
      <span class="contact-title"><i>Want to get in touch?</i></span>
      <br />
      Say hello!
      <br /><br />
      <form action="https://formspree.io/codennisj@gmail.com" method="POST" >
        <div class="form-group">
          <!-- <label for="name">Name</label> -->
          <input text="text" id="name" name="name" class="form-control" placeholder="Name" required />
        </div>

        <div class="form-group">
          <!-- <label for="email">Email</label> -->
          <input type="email" id="email" name="_replyto" class="form-control" placeholder="Your email" required />
        </div>
        <!-- <label for="subject">Subject</label>
        <input type="text" id="subject" name="_subject" /> -->
        <div class="form-group">
          <!-- <label for="message">Message</label> -->
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required ></textarea>
        </div>

        <input type="submit" value="Send" class="btn btn-default"/>
      </form>
    </div>

  </div>
</div>
