<div class="content">
  <div class="grid-box" [@helixAnimation]="projects?.length">
    <div *ngFor='let project of projects'
          class="grid-item"
          [style.grid-row-start]="project.row"
          [style.grid-row-end]="project.row + project.rowSpan"
          [style.grid-column-start]="project.column"
          [style.grid-column-end]="project.column + project.columnSpan"
          (click)="onSelect(project)">

      <span class="vertical-align-helper"></span>
      <img src="{{project.image}}" />

      <div class="grid-item-hover">
        <span class="vertical-align-helper"></span>
        <span class="project-title">
          {{project.title}}
        </span>
      </div>
    </div>
  </div>
</div>

<div class="project-modal" (click)="close()" [@fadeInAnimation]="modalState" >
  <button class="closeButton" (click)="close()">X</button>
  <span class="vertical-align-helper"></span>
  <div class="routerContent" (click)="$event.stopPropagation()">
    <router-outlet></router-outlet>
    <router-outlet name="popup"></router-outlet>
  </div>
</div>
