<div class="content">
  <div class="grid-box" [@helixAnimation]="projects?.length">
    <div *ngFor='let project of projects; let i = index;'
          class="grid-item"
          [style.grid-row-start]="project.row"
          [style.grid-row-end]="project.row + project.rowSpan"
          [style.grid-column-start]="project.column"
          [style.grid-column-end]="project.column + project.columnSpan"
          (click)="onSelect(project)">

      <span class="vertical-align-helper"></span>
      <img src="{{project.image}}" />
    </div>
  </div>
</div>

<main class="modal" (click)="close()" [@fadeInAnimation]="modalState" [class.resume-content]="activePanel=='resume'">
  <button class="closeButton" (click)="close()">X</button>
  <div class="routerContent">
    <!-- <router-outlet></router-outlet> -->
  </div>
</main>
