@import '../styles.scss';

:host {
  /deep/ .fluid-container > router-outlet ~ * {
    // position: fixed;
    width: 100%;
    height: calc(100% - #{$navbarHeight});
  }
}

.fill-height {
  min-height: 100%;
  height: 100% !important;
}
