<div class="sidebar">
  
  <div class="sidebar-element">
    <button md-button [routerLink]="['/home']">
      <div>
        <md-icon class="md-48 md-light">home</md-icon>
      </div>
      <div>
        <b>Home</b>
      </div>
    </button>
  </div>
  <div class="sidebar-element">
    <button md-button [routerLink]="['/portfolio']">
      <div>
        <md-icon class="md-48 md-light">folder</md-icon>
      </div>
      <div>
        <b>Portfolio</b>
      </div>
    </button>
  </div>
  <div class="sidebar-element">
    <button md-button [routerLink]="['/about']">
      <div>
        <md-icon class="md-48 md-light">face</md-icon>
      </div>
      <div>
        <b>About</b>
      </div>
    </button>
  </div>
  <div class="sidebar-element">
    <button md-button [routerLink]="['/contact']">
      <div>
        <md-icon class=" md-48 md-light">mail</md-icon>
      </div>
      <div>
        <b>Contact</b>
      </div>
    </button>
  </div>
</div>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
