$futureBlue: #02E2FF;
$lightBlue: #ABD3ED;
$blueBlack: #01010A;

.content {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.column {
  padding: 10px;
  float: left;
}

img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
}
