/* You can add global styles to this file, and also import other style files */
$futureBlue: #3A86B7;
$lightBlue: #ABD3ED;
$blueBlack: #01010A;
$contentPadding: 50px;

* {
  box-sizing: border-box;
  font-family: sans-serif;
  color: $lightBlue;
}

body {
  margin: 0px;
  background-color: $blueBlack;
}
.vertical-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
// .material-icons.md-light { color: rgba(255, 255, 255, 1); }
// .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
.material-icons.md-light { color: $lightBlue; }
.material-icons.md-light.md-inactive { color: $lightBlue; }
