@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

/* You can add global styles to this file, and also import other style files */
$navbarHeight: 80px;
$pdfGray: #525659;

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  height: 100%;
}
body {
  height: 100%;
  padding-top: $navbarHeight;
}

//TODO 100% image new line bug
.vertical-align-helper {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

// Fix navbar-right margin
.navbar-right {
  margin-right: 0px;
}
