@import '../portfolio.component.scss';

$buttonWidth: 130px;
$buttonHeight: 40px;

.project-content {
  max-width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: max-content auto;
}
.project-content > img {
  align-self: center;
}
img {
  max-width: 100%;
  height: auto;
  width: auto;
}
.project-content > img {
  max-height: calc(100vh - #{$navbarHeight} - calc(4 * #{$contentPadding}) - 20px);
  max-width: 50vw;
  padding: 10px;
}

.project-details {
  font-size: 1.5rem;
  display: inline-block;
  padding: 10px;
  max-width: 350px;
}
#project-title {
  font-size: 3rem;
  font-weight: bold;
}

// Styling project button links
.project-links {
  margin-top: 24px;
}
.link-button {
  display: inline-block;
  width: $buttonWidth;
  height: $buttonHeight;
  margin: 2px;
}
.link-button img {
  max-height: $buttonHeight;
  max-width: $buttonWidth;
}
.link-button button {
  height: 100%;
  width: 100%;
}
i {
  vertical-align: middle;
}
